<div class="about-page">
    <h1>{{ title }}</h1>
    <div class="page_logo">
      <img src="assets/images/grants_logo.jpg" alt="aboutus-logo" loading="lazy">
    </div>
 
    <div class="aboutus-content">
      <div class="aboutus-content-row-top">
        <div class="point">
          <img src="assets/images/aboutus_points.jpg" alt="logo-image" loading="lazy">
          <h5>{{ sections[0].heading }}</h5>
          <p>{{ sections[0].content }}</p>
        </div>
        <img src="assets/images/renewable_energy.jpg" alt="renewable_energy-image" loading="lazy">
        <div class="point">
          <img src="assets/images/aboutus_points.jpg" alt="points-image" loading="lazy">
          <h5>{{ sections[1].heading }}</h5>
          <p>{{ sections[1].content }}</p>
        </div>
       
      </div>
      <div class="aboutus-content-row-bottom">
        <div class="point">
          <img src="assets/images/aboutus_points.jpg" alt="logo-image" loading="lazy">
          <h5>{{ sections[2].heading }}</h5>
          <p>{{ sections[2].content }}</p>
        </div>
        <div class="point">
          <img src="assets/images/aboutus_points.jpg" alt="logo-image" loading="lazy">
          <h5>{{ sections[3].heading }}</h5>
          <p>{{ sections[3].content }}</p>
        </div>
    </div>
 
</div>
 
