<div class="home-container">
    <div class="section1-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <h3>{{section1Text}}</h3>
                <p>{{section1SubText}}</p>
                <button class="button" (click)="navigateToAboutUsPage()">Learn More about us</button>
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <img src="assets/images/dry_green.jpg" alt="gry_green_soil-image" loading="lazy">
            </div>
        </div>
    </div>
    <div class="section2-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <img src="assets/images/greenplant.jpg" alt="greenplant" loading="lazy">
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <h3>{{section2Text}}</h3>
            </div>
        </div>
    </div>
    <div class="section3-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <h3>{{section3Text}}</h3>
                <button class="button" (click)="navigateToGrantsPage()">View All Grants</button>
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <img src="assets/images/earth_in_hands.jpg" alt="earth-image" loading="lazy">
            </div>
        </div>
    </div>
</div>
