<div class="home-container">
    <div class="section1-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <img src="assets/images/grants_logo.jpg" alt="grants-logo" loading="lazy">            
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <h3>{{heading}}</h3>
                <p>{{Description}}</p>
            </div>
        </div>
    </div>
    
    <div class="section2-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <h2>{{grants[0].heading}}</h2>
                <p>{{grants[0].fund}}</p>
                <p>{{grants[0].focus}}</p>          
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <img src="assets/images/teto.jpg" alt="grants-logo" loading="lazy">
            </div>
        </div>
    </div>

    <div class="section3-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <img src="assets/images/pejite_grant.jpg" alt="grants-logo" loading="lazy">            
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <h2>{{grants[1].heading}}</h2>
                <p>{{grants[1].fund}}</p>
                <p>{{grants[1].focus}}</p>
            </div>
        </div>
    </div>

    <div class="section2-container">
        <div class="left-side-container">
            <div class="left-side-content">
                <h2>{{grants[2].heading}}</h2>
                <p>{{grants[2].fund}}</p>
                <p>{{grants[2].focus}}</p>          
            </div>
        </div>
        <div class="right-side-container">
            <div class="right-side-content">
                <img src="assets/images/ohmu_grant.jpg" alt="grants-logo" loading="lazy">
            </div>
        </div>
    </div>
</div>
