.overview{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #9fd672, #f5f5f5);
    
    h1 {
        font-size: 24px; 
    }

    .cards-section {
        .cards-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .card {
            border: 1px solid #e0e0e0;
            margin: 10px 30px; 
            padding: 0px 20px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .card:hover {
            transform: scale(1.02);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

    }

    table {
        width: 100%;
      }
      
      .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }
    
}

.application-details {
    margin: 20px 80px;
}