.page-wrapper{
    margin: 5vw 5vh;
}
.heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5vh;
}

.application-form {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.form-elements{
    display: flex;
    flex-direction: column;
}

  
label {
    font-weight: bold;
    display: block;
    margin: 15px 0px;
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 96.5%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
}

button:disabled {
    background: #ccc;
}
  
.special-award-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
    margin-right: 10px;
    margin-left: 10px;
}

.custom-checkbox .checkmark:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: 0.3s;
}

.custom-checkbox input:checked + .checkmark {
    background: #28a745;
}

.custom-checkbox input:checked + .checkmark:before {
    left: 20px;
}