<div class="admin-approval-section">
    <div class="page-title">
        <h1>Grant Application Review</h1>
        <div class="button-row">
            <button class="back" (click)="onBack()">Back</button>
        </div>
    </div>
    <div class="form-details">
        <div class="form-title">
            <img src="assets/images/logo.png" alt="logo" width="50" height="30" loading="lazy" />
            <h2>Application Summary</h2>
        </div>
        <div class="details-section">
            <div class="text-row">
                <p>Full Name: {{name}}</p>
            </div>
            <div class="text-row">
                <p>Email Address: {{email}}</p>
            </div>
            <div class="text-row">
                <p>Organization Name: {{organization_Name}}</p>
            </div>
            <div class="text-row">
                <p>Selected Grant: {{selected_Grant}}</p>
            </div>
            <div class="text-row">
                <p>Requested Amount: {{requested_Amount}}</p>
            </div>
            <div class="text-row">
                <p>Special Grant Request: {{special_Award}}</p>
            </div>
            <div class="text-row">
                <p>Application Status: {{applicationStatus}}</p>
            </div>
        </div>
    </div>
    <form [formGroup]="grantReviewForm" class="form-elements">
        <div class="notes">
            <label class="notes-title" for="adminComments">Admin Notes</label>
            <textarea id="adminComments" type="text" [disabled]="!enableEditing" placeholder="Add feedback Notes" formControlName="adminComments"></textarea>
            <p class="notes-message" *ngIf="grantReviewForm.get('adminComments')?.touched && !grantReviewForm.get('adminComments')?.value">Comments should not be empty</p>
        </div>
    </form>
    <div class="button-row">
        <button class="approve" [ngClass]="enableEditing? 'edit':''" (click)="onSubmit('approve')" [disabled]="!enableEditing">Approve</button>
        <button class="reject" [ngClass]="enableEditing? 'edit':''" (click)="onSubmit('reject')" [disabled]="!enableEditing">Reject</button>
    </div> 
</div>
