.admin-approval-section{
    padding: 5px 25px;
    .page-title {
        display: inline-flex;
        width: 100%;
        max-height: 10vh;
        h1 {
            font-size: 24px;
            width: 100%;
        }
        .button-row {
            margin: 0px;
            display: flex;
            justify-content: flex-end;

            ::ng-deep button {
                width: 5vw;
                height: 6vh;
            }
        }
        .back {
            background-color: #6c757d; /* Grey color */
            color: white; /* White text */
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
        }
        
        .back:hover {
            background-color: #5a6268; /* Darker grey on hover */
            transform: scale(1.05);
        }
        
        .back:active {
            background-color: #495057; /* Even darker grey when clicked */
            transform: scale(1);
        }
    }

    .form-details {
        box-shadow: 1px 1px;
        border: 1px solid rgb(228, 228, 228);
        border-radius: 5px;
        .form-title {
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            img {

            }
            h2 {
                font-size: 18px;
            }
        }

        .details-section {
            .text-row{
                padding: 10px 10px;
            }
        }
    }

    .notes{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        p{
            font-size: 15px;
            font-weight: 600;
        }
        textarea {
            width: 50%;
            min-height: 4vh;
            height: 30vh;
            max-height: 40vh;
        }
        margin-top: 24px;
        .notes-message{
            margin: 0px;
            font-size: 12px;
            font-weight: 500;
            color: red;
        }
    }

    .button-row {
        margin: 50px 0px; 
        display: inline-flex;
        align-items:center;
        justify-content: space-evenly;
        width: 100%;
        button {
            font-size: 20px;
            font-weight: 600;
            width: 12vw;
            height: 8vh;
        }

        button:hover {
            border-color: white;
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }


        button:disabled {
            background-color: #b5b5b5 !important; /* Muted gray */
            color: #6c757d !important; /* Light gray text */
            cursor: not-allowed;
            box-shadow: none;
            opacity: 0.6;
        }

        
        .approve {
            background-color: rgb(18, 157, 2);
        }
        .reject {
            background-color: rgb(234, 0, 0);  
        }

        .approve.edit {
            background-color: rgb(18, 157, 2);
        }
        .reject .edit{
            background-color: rgb(234, 0, 0); 
        }
    }
}